<footer class="p-4 bg-slate-50 mt-2">
  <span class="font-bold text-slate-700">
  &copy; Not-Copyright 2024 Off Da Rails Coffee Co.
  </span>
  <br>
  <div class="flex items-center p-2 gap-4">
    <%= link_to 'About', "/about_page", class: "underline" %>
    <%= link_to 'Contact Us', "/contact_page", class: "underline" %>
  </div>
</footer>
